<div>
    <div class="ui left demo vertical inverted sidebar labeled icon menu">
        <a class="item" href="/home">
            <i class="home icon"></i>
            Home
        </a>

        <a class="item" href="./semester_list.html">
            <i class="university icon"></i>
            Semesters
        </a>
        <a class="item" href="search.html">
            <i class="search icon"></i>
            Search
        </a>
        <a class="item" href="inbox.html">
            <i class="inbox icon"></i>
            Inbox
        </a>
        <a class="item" href="/logout">
            <i class="logout icon"></i>Logout
        </a>
    </div>
</div>
<script>
                  $(document).ready(function() {
                        $('.ui.labeled.icon.sidebar')
                                  .sidebar('toggle')
                          ;

                  });
                $(document).click(function(e){
                    if(e.pageX<50)

                        $('.ui.labeled.icon.sidebar')
                                  .sidebar('toggle')
                          ;
                });
</script>
