@(courses:List[ProvidedCourse])
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        @base.base_static()
        <title></title>
        </head>
    <body>
        @base.sidebar()
        <div class="ui grid">
            <div class="ui row">
                <div class="sixteen wide column"></div>
            </div>
            <div class="ui row"></div>
            <div class="three wide column"></div>
            <div class="eight wide column">
                <div class="ui styled accordion">
                    @for(course <- courses){
                        <div class="title">
                            <i class="dropdown icon"></i>
                            @course.getCourse.title  @course.getSemester
                        </div>
                        <div class="content">
                            @helper.form(action = routes.HomeController.submitDuplicate(course.id)){
                            @*<form action="@routes.HomeController.submitDuplicate(course.id)">*@
                                <div>
                                    <textarea name="description"style="margin-top: 0px; margin-bottom: 0px; height: 168px; width:574px;">@if(course.getSyllabes != null) {
                                            @course.getSyllabes.getDescription
                                        }
                                    </textarea>
                                </div>
                                @for(source<-course.getSyllabes.getSources){
                                <div>
                                    <input class="ui checkbox" type="checkbox" name="@source.id">
                                    <label><a>@source.getLink</a></label>
                                </div>
                                }
                                <input type="submit" class="ui button blue" value="save">
                            @*</form>*@
                                }
                        </div>
                    }
                </div>
            </div>

            <div class="three wide column">
                <div class="ui divided items">
                </div>
            </div>
            <div class="two wide column"></div>
        </div>
        <script>
            $('.ui.accordion')
              .accordion()
            ;
        </script>
    </body>
</html>
