<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <script src="@routes.Assets.versioned("/static/js/jquery-2.1.4.min.js")"></script>
        <script src="@routes.Assets.versioned("/static/semantic/semantic.min.js")"></script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("/static/semantic/semantic.min.css")"/>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("/static/css/style.css")'/>
        <title></title>
    </head>
    <body>
        <div class="ui grid">
            <div class="ui row"></div>
            <div class="ui row"></div>
            <div class="six wide column"></div>
            <div class="four wide column">
                <div class="sixteen wide column">
                   @helper.form(action = routes.HomeController.loginSubmit(),'id->"loginForm", 'class->"ui form segment"){
                    @*<form class="ui form segment" id="loginForm">*@

                        <div class="field">
                            <label>User Name</label>
                            <input id="user_field" type="text" name="username" placeholder="User Name">
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <input id="pass_field" type="password" name="password" placeholder="Password">
                        </div>
                        <div class="ui error message" id="error_div">
                            <ul>
                                <li id="empty_field">
                                    Please fill the blank
                                </li>
                            </ul>
                        </div>
                        <div class="ui three column grid">
                            <div class="column"></div>
                            <div class="column ">
                                <input class="ui button blue" id="submitter" type="submit" value="login">
                            </div>
                            <div class="column"></div>
                        </div>
                   }
                </div>

            </div>

            <div class="six wide column"></div>
        </div>
<script>
$('#loginForm').submit(function (){
    return validation();
});
function validation(){
    var user_field = $('#user_field').val();
    var pass_field = $('#pass_field').val();
    if(user_field == '' || pass_field == ''){
        $('#error_div').show();
        return false;
    }else{
        return true;
    }


}
// $('.ui.form').form({
//    fields:
//        {
//           username: {
//              identifier : 'username',
//              rules: [
//                {
//                  type   : 'empty',
//                  prompt : 'Please enter a username'
//                }
//              ]
//            },
//            password: {
//              identifier : 'password',
//              rules: [
//                {
//                  type   : 'empty',
//                  prompt : 'Please enter a password'
//                },
//                {
//                  type   : 'length[6]',
//                  prompt : 'Your password must be at least 6 characters'
//                }
//              ]
//            }
//        }
//    }
//    );
</script>
    </body>
</html>
