<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("/static/semantic/semantic.min.css")"/>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("/static/css/style.css")'/>
        <title></title>
    </head>
    <body>
        <div class="ui grid">
            <div class="ui row"></div>
            <div class="ui row"></div>
            <div class="six wide column"></div>
            <div class="four wide column">
                <div class="sixteen wide column">
                    <form class="ui form">
                        <div class="field">
                            <label>User Name</label>
                            <input type="text" name="first-name" placeholder="User Name">
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                        <div class="field">
                        </div>
                        <div class="ui three column grid">
                                <div class="column"></div>
                                <div class="column ">
                                    <button class="ui button blue" type="submit">Submit</button>
                                </div>
                                <div class="column"></div>
                        </div>
                    </form>
                </div>

            </div>

            <div class="six wide column"></div>
        </div>
    </body>
</html>
